.hide-content{
    display: none;
}

.admin-page-product-container .products {
    padding: 20px 0;
}

.admin-page-product-container .products table, th, td {
    border: 1px solid black;
}
/*showProducts: false,
        showReadOnlyStuff: false,
        // showMainProductTypes: false,
        // showSubProductTypes: false,
        // showOrigins: false,
        showColours: false,
        showFrames: false,
        showSlideshow: false,
        showCategories: false,*/
.admin-page-product-container .products table {
    width: 80%;
}

.admin-page-product-container .products th {
    width: 40%;
}

.admin-page-product-value-container table {
    width: 100%;
}

.admin-page-product-value-container th {
    width: 40%;
}

.admin-page-product-value-container td p, .admin-page-product-value-container td input {
    width: max-content;
}

.admin-page-product-value-container td input[type=number] {
    width: 50px;
}

.admin-page-product-value-container td .main-type,
.admin-page-product-value-container td .sub-type,
.admin-page-product-value-container td .origin {
    width: 75px;
}

.admin-page-product-container {
    display: grid;
    grid-template-areas: "products" "add-new-product";
    grid-template-columns: 1fr;
}

.products {
    grid-area: products;
    padding: 20px 0;
}

.add-new-product {
    grid-area: add-new-product;
    padding: 20px 0;
}


.product-types-origins {
    display: grid;
    grid-area: product-types-origins;
    grid-template-areas: "main-types sub-types origins" "colours-table-container colours-table-container colours-table-container" "add-new-colour add-new-colour add-new-colour";
    grid-template-columns: repeat(3, 1fr);
}

.main-types {
    grid-area: main-types;
    text-align: start;
    padding: 20px 10px;
}

.sub-types {
    grid-area: sub-types;
    text-align: start;
    padding: 20px 10px;
}

.origins {
    grid-area: origins;
    text-align: start;
    padding: 20px 10px;
}

.colours-table-container {
    grid-area: colours-table-container;
    padding: 20px 0;
}

.add-new-colour {
    grid-area: add-new-colour;
    padding: 20px 0;
}


.frame-container {
    display: grid;
    grid-area: frame-container;
    grid-template-areas: "mapped-frames"" add-new-frame";
    grid-template-columns: 1fr;
}


.mapped-frames {
    grid-area: mapped-frames;
    padding: 20px 0;
}

.add-new-frame {
    grid-area: add-new-frame;
    padding: 20px 0;
}


.slideshow-container {
    display: grid;
    grid-area: slideshow-container;
    grid-template-areas: "mapped-slideshow"" add-new-slideshow";
    grid-template-columns: 1fr;
}


.mapped-slideshow {
    grid-area: mapped-slideshow;
    padding: 20px 0;
}

.add-new-slideshow {
    grid-area: add-new-slideshow;
    padding: 20px 0;
}



.categories-container {
    display: grid;
    grid-area: categories-container;
    grid-template-areas: "mapped-categories"" add-new-category";
    grid-template-columns: 1fr;
}


.mapped-categories {
    grid-area: mapped-categories;
    padding: 20px 0;
}

.add-new-category {
    grid-area: add-new-category;
    padding: 20px 0;
}

