Link {
    text-decoration: none;
}

.App {
    text-align: center;
}


.App-link {
    color: #09d3ac;
}

img {
    width: 150px;
    height: 150px;
}

* {
    box-sizing: border-box;
}

html, body, #root, .App, .custom-butterfly-builder {
    height: 100%;
}

body {
    color: #222;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    margin: 0 8%;
}


.react-draggable, .cursor {
    cursor: move;
}

.no-cursor {
    cursor: auto;
}

.cursor-y {
    cursor: ns-resize;
}

.cursor-x {
    cursor: ew-resize;
}

.react-draggable strong {
    background: #ddd;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
    padding: 3px 5px;
    text-align: center;
}

.custom-butterfly-builder {
}


.enable-scroll {
    float: right;
    width: 30%;
    max-width: 200px;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    position: page;
    border: 2px solid black;
    margin-top: 3%;

}

.listed-product-images {
    position: relative;
    width: 150px;
    height: 150px;
    /*z-index: 1;*/

}

.draggable-product-images {
    position: relative;

}

.butterfly-box {
    float: left;
    border: 60px solid black;
    overflow: hidden;
    margin-top: 3%;
    border-image-width: 60px;
    border-image-slice: 80;
    border-image-repeat: stretch;
    position: relative;
}

.main-page-featured-product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.main-page-featured-product {
    margin: 30px 1%;
    flex: 0 1 auto;
    align-self: center;
}

.featured-product-name-framed {
    margin-top: 15px;
    margin-bottom: 3px;
}

.featured-product-price-framed {
    font-size: 18px;
    margin: 1px 0;
    font-weight: bold;
}

.featured-product-name-non-framed {
    margin-top: 15px;
    margin-bottom: 3px;
}

.featured-product-price-non-framed {
    font-size: 18px;
    margin: 1px 0;
    font-weight: bold;
}

.small-frame-icons {
    height: 30px;
    display: flex;
    margin-bottom: 12px;
}

.small-frame-icons span {
    margin-right: 10px;
    height: 30px;
    width: 1cm;
    display: inline-block;
    cursor: pointer;
}

.frame-colors {
    margin-bottom: 0
}

.frame-around-butterfly {
    float: left;
    overflow: hidden;
    position: relative;
}

.additional-margin {
    margin-bottom: 15px;
}


.slide-show {
    position: relative;
    z-index: 0;
}

.slide-show div img {
    max-height: 450px;
}

.slide-show img {
    width: 100%;
    height: auto;
    z-index: -1;
}

.main-page-buy-now-btn {
    position: absolute;
    left: 20%;
    top: 45%;
    display: inline-block;
    z-index: 1;
    background-color: black;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 50px;
    cursor: pointer;
    transition: background-color 2s;
}

.main-page-buy-now-btn:hover {
    background-color: #202020;
    transition: background-color 300ms;
}

.main-page-category-container {
    padding: 1% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.main-page-category {
    padding: 1%;
    flex: 1 1 25%;
    flex-grow: 1;
    width: 100%;
}

.main-page-category-link {
    text-decoration: none;
    display: block;
    width: 110%;

}

.category-name-img-container {
    border: 1px solid #C8C8C8;
    width: 90%;
    display: block;
}

.category-name-img-container img {
    display: block;
}

.main-page-category img {
    width: 100%;
    height: auto;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: block;

}

.category-name {
    position: relative;
    font-size: 15px;
    text-transform: capitalize;
    background-color: #C8C8C8;
    margin: 0;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
    width: 100%;
    padding: 0;
}

.main-page-category .category-name-img-container:hover {
    border: 1px solid #111111;
    width: 90%;
}

.main-page-category .category-name-img-container:hover .category-name {
    background-color: black;
}

.one-line-text {
    width: 100%;
    font-weight: bolder;
    font-size: 20px;
    /*border-top: 2px solid black;*/
    /*border-bottom: 2px solid black;*/
    /*background-color: #D3D3D3;*/
    text-transform: uppercase;
    color: #787878;
    letter-spacing: 1px;
    padding: 5px 0;
}

.image-gallery-and-main-details-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    /*border-bottom: 1px solid #D3D3D3;*/
    padding-top: 25px;
    background-color: #ffffff;
}

.image-gallery {
    flex: 0 1 50%;
    display: flex;
    flex-direction: row;
}

.main-image {
    flex: 0 1 88%;
    padding: 0 1%;
}

.small-images {
    flex: 0 1 18%;
    padding: 0 0.5%;
    align-self: flex-start;
}

.all-small-images {
    cursor: pointer;
}

.main-details {
    flex: 0 1 50%;
    position: relative;
    z-index: 0;
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    padding: 0 2%;
}

#zoomed-img-portal {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    /*align-content: flex-end;*/
    justify-content: flex-end;
    margin: 0;
}

.zoomed-portal-active {
    border: 1px solid #D3D3D3;
}

.main-details h1 {
    text-transform: uppercase;
    height: 100px;

}

.main-details h1:after {
    content: "";
    background-image: url("http://localhost:8080/images/logos/hands-20.svg");
    display: inline-block;
    height: 30%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.dirty-little-details {
    display: flex;
    flex-direction: column;
}

.stock-and-time {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.stock-and-time p {
    margin: 0;
}

.dirty-little-details p {
    align-self: flex-start;
    justify-content: flex-end;
}


@media screen and (max-width: 945px) {
    .main-page-category {
        flex: 1 2 33%;
        align-self: center;
    }

    .category-name {
        font-size: 15px;
    }

    .image-gallery-and-main-details-container {
        flex-direction: column;
    }
}

.price {
    font-weight: bold;
    font-size: 35px;
    display: inline;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

#dph {
    font-weight: 100;
    font-size: 15px;
}

.qty-and-buy-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border-top: dotted 1px #D3D3D3;*/
    /*border-bottom: dotted 1px #D3D3D3;*/
    padding: 20px 0;
}

.number-input-container,
.price {
    flex: 1 1 auto;
    align-self: auto;
}


.truck-and-shipping {
    display: flex;
    margin: 5px 1px 0;
}

.truck-and-shipping span {
    margin-left: 8px;

}

.demo-trigger {
    display: inline-block;
    width: 30%;
    float: left;
}

.detail {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    float: right;
}

.shopping-cart-elements-subtotal-container,
.billing-information-and-subtotal-container {
    display: flex;
    flex-direction: row;
}

.shopping-cart-elements-container,
.billing-information-container {
    flex: 0 1 65%;
    align-self: auto;
}

.subtotal-container {
    flex: 0 1 35%;
    align-self: auto;
    border-left: 1px solid black;
}

.shopping-cart-table {
    width: 98%;
}

.shopping-cart-fa-icons {
    margin: 0 20px;
    cursor: pointer;
    color: #505050;
}

.shopping-cart-fa-icons:hover {
    color: black;
}

.action-btn-lg {
    background-color: #303030;
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
    padding: 0 5px;
    cursor: pointer;
    transition: .1s;
}

.custom-add-to-cart {
    background-color: #303030;
    font-size: 15px;
    color: #ffffff;
    /*font-weight: bold;*/
    padding: 10px 70px;
    cursor: pointer;
    transition: .1s;
    text-transform: uppercase;
}

.qty-input {
    padding: 10px 5px;
    margin-left: 5px;
    width: 30px;
    border: none;
    font-size: 12px;
}

.qty-input {
    padding: 10px 5px;
    margin-left: 5px;
    width: 30px;
    border: none;
    font-size: 12px;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.action-btn-sm {
    background-color: #111111;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    transition: .1s;
}

.action-btn-lg:hover {
    background-color: #111111;
    transition: .1s;
}

.action-btn-lg:active {

}

.tab-options {
    display: flex;
    flex-direction: row;
}

.tab-options h3 {
    transition: all .3s ease-in-out;
    cursor: pointer;
    flex: 1 1 auto;
    align-self: auto;
}


.active-checkout-tab-option {
    /*border-bottom: 4px solid black;*/
    text-decoration: underline solid black;

}

.non-active-checkout-tab-option {
    /*border-bottom: 4px solid transparent;*/
}

.active-checkout-tab-content {
    display: block;
    transition: all .3s ease-in-out;
}

.non-active-checkout-tab-content {
    display: none;
    transition: all .3s ease-in-out;
}

#tab1,
#tab2 {
    padding-top: 35px;
}

.billing-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*background-color: yellow;*/
}

.billing-address-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*background-color: green;*/
    flex: 0 1 20%;
    align-self: flex-start;
}

.billing-form-container,
.additional-shipping-address {
    flex: 1 1 70%;
    align-self: flex-start;
    margin: 0 5% 3%;

}

.billing-form {
    display: flex;
    flex-direction: column;
    /*background-color: lightblue;*/

}

.billing-form label {
    /*align-self: flex-start;*/
    display: flex;
    flex-direction: column;
}

.billing-form label p {
    font-weight: bold;
    align-self: flex-start;
}

.billing-form label input {
    font-size: 15px;
    /*width: 50%;*/
}

#billing-form-submit {
    font-size: 30px;
    width: 50%;
    background-color: #111111;
    color: #ffffff;
    font-weight: bold;
    align-self: center;
}

.billing-address {
    flex: 1 1 auto;
    /*align-self: flex-start;*/
    border: 1px solid black;
    margin: 20px 0;
    padding: 2px 10px 5px;
    /*text-align: left;*/
    /*background-color: blue;*/
}

.billing-address h3 {
    margin: 0;
    border-bottom: 1px solid #606060;
    cursor: pointer;
}

.delete-btn {
    display: inline;
    float: left;
    margin: 3px 0;
}

.different-address-checkbox {
    font-weight: bold;
    /*font-size: 20px;*/
}

.different-address-checkbox p {
    display: inline-block;
    font-size: 15px;

}

.different-address-checkbox {
    zoom: 2;
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
}

.user-register-login-container {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.user-register-login-container div {
    transition: all .3s ease-in-out;
    cursor: pointer;
    flex: 1 1 auto;
    align-self: auto;
}

.description-single-p {
    margin: 30px 0px;
    font-size: 18px;
    font-weight: bold;
}

.under-main-information {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

.under-main-information p {
    align-self: flex-start;
    margin: 5px 0px;
}

.under-main-information h3 {
    align-self: flex-start;
    margin: 15px 0 45px;
    text-transform: uppercase;
}

.under-main-information span {
    font-weight: bold;
}

.under-main-information p span {
    text-transform: uppercase;
    font-weight: bolder;
}

.number-input-container {
    border: 2px solid #ddd;
}

.number-input-container .fa-chevron {
    position: relative;
    left: -4px;
    color: #bdbdbd;
    height: 8px;
    cursor: pointer;
}

.number-input-container .fa-chevron:hover {
    color: #3d3d3d;

}



