.App {
    text-align: center;
}


.App-link {
    color: #09d3ac;
}

img {
    width: 150px;
    height: 150px;
}

* {
    box-sizing: border-box;
}

html, body, #root, .App, .custom-butterfly-builder {
    height: 100%;
}

body {
    color: #222;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    /*margin: 0 50px;*/
}


.react-draggable, .cursor {
    cursor: move;
}

.no-cursor {
    cursor: auto;
}

.cursor-y {
    cursor: ns-resize;
}

.cursor-x {
    cursor: ew-resize;
}

.react-draggable strong {
    background: #ddd;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
    padding: 3px 5px;
    text-align: center;
}

.custom-butterfly-builder {
}


.enable-scroll {
    float: right;
    width: 30%;
    max-width: 200px;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    position: page;
    border: 2px solid black;
    margin-top: 3%;

}

.listed-product-images {
    position: relative;
    width: 150px;
    height: 150px;
    /*z-index: 1;*/

}

.draggable-product-images {
    position: relative;
    /*border: 2px solid black;*/
    /*width: 80%;*/
    /*height: 80%;*/
    /*z-index: 1;*/

}

.butterfly-box {
    float: left;
    border: 60px solid black;
    overflow: hidden;
    margin-top: 3%;
    border-image-width: 60px;
    border-image-slice: 80;
    border-image-repeat: stretch;
    position: relative;
}

.main-page-featured-product-container {
    padding: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
    /*align-content: flex-start;*/
    /*align-items: flex-start;*/
}

.main-page-featured-product {
    /*width: 27%;*/
    /*height: auto;*/
    margin: 5px 2%;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

.small-frame-icons {
    height: 30px;
    margin: 0 5px;
}

.small-frame-icons span {
    margin: 0 5px;
    height: 30px;
    width: 1cm;
    background-color: black;
    display: inline-block;
    cursor: pointer;
}

/*.helper {*/
/*    display: inline-block;*/
/*    height: 100%;*/
/*    vertical-align: middle;*/
/*}*/

.frame-around-butterfly {
    /*position: relative;*/
    float: left;
    /*border: 1.6cm solid black;*/
    overflow: hidden;
    margin-top: 3%;
    /*border-image-width: 1.6cm;*/
    /*border-image-slice: 50;*/
    /*border-image-repeat: stretch;*/
    position: relative;
    /*width: 80%;*/
}


.frame-around-butterfly img {
    /*vertical-align: middle;*/
    /*position: relative;*/
    /*left: 0cm;*/
    /*top: 0cm;*/
}
/*.main-page-informational-text{*/
/*    display: block;*/
/*}*/

