Link {
    text-decoration: none;
}

.App {
    text-align: center;
    display: grid;
    grid-template-areas: "whole-header-container" "whole-content-container" "footer-container";
    grid-template-rows: max-content 1fr max-content;
}

.whole-content-container {
    background-color: #ffffff;
}


.App-link {
    color: #09d3ac;
}

img {
    width: 150px;
    height: 150px;
}

* {
    box-sizing: border-box;
}

html, body, #root, .App, .custom-butterfly-builder {
    height: 100%;
}

body {
    color: #222;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    padding: 0 8%;
    height: 100%;
    position: relative;
}

@media screen and (max-width: 400px) {
    body {
        margin: 0 3%;
    }
}


.react-draggable, .cursor {
    cursor: move;
}

.no-cursor {
    cursor: auto;
}

.cursor-y {
    cursor: ns-resize;
}

.cursor-x {
    cursor: ew-resize;
}

.react-draggable strong {
    background: #ddd;
    border: 1px solid #999;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
    padding: 3px 5px;
    text-align: center;
}

.custom-butterfly-builder {
}


.enable-scroll {
    float: right;
    width: 30%;
    max-width: 200px;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    position: page;
    border: 2px solid black;
    margin-top: 3%;

}

.listed-product-images {
    position: relative;
    width: 150px;
    height: 150px;
    /*z-index: 1;*/

}

.draggable-product-images {
    position: relative;

}

.butterfly-box {
    float: left;
    border: 60px solid black;
    overflow: hidden;
    margin-top: 3%;
    border-image-width: 60px;
    border-image-slice: 80;
    border-image-repeat: stretch;
    position: relative;
}

.vertical-main-page-featured-product-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.dropdown-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dropdown-filter-element-container {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#check0 {
    display: none;
}

.dropdown-filter-element-title {
    display: flex;
    flex-direction: row;
    /*align-items: flex-start;*/
}

.dropdown-filter-element-title p {
    margin: 10px;
}

.dropdown-filter-element-title p * {
    cursor: pointer;
    margin: 0 10px;
}

.dropdown-filter-element-title p .filter-arrow-down {
    margin-left: 3px;
}

#price-filter {
    margin: 10px 2px;
}

.dropdown-filter-element-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-filter-element-body p input,
.dropdown-filter-element-body p label {
    cursor: pointer;
}

.dropdown-filter-element-body * {
    margin: 2px;
}

.dropdown-filter-element-title .filter-arrows {
    display: inline;
    margin: 15px 8px 0px;
    font-size: 10px;
    cursor: pointer;
}

.checkbox-filters-hidden {
    display: none;
}

.main-page-featured-product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.main-page-featured-product {
    margin: 30px 1%;
    flex: 0 1 23%;
    align-self: center;
}

.aligner-span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-product-name-framed {
    margin-top: 15px;
    margin-bottom: 3px;
}

.featured-product-price-framed {
    font-size: 18px;
    margin: 1px 0;
    font-weight: bold;
}

.featured-product-name-non-framed {
    margin-top: 15px;
    margin-bottom: 3px;
}

.featured-product-price-non-framed {
    font-size: 18px;
    margin: 1px 0;
    font-weight: bold;
}

.small-frame-icons {
    height: 30px;
    display: flex;
    margin-bottom: 12px;
}

.small-frame-icons span {
    margin-right: 10px;
    height: 30px;
    width: 1cm;
    display: inline-block;
    cursor: pointer;
}

.frame-colors {
    margin-bottom: 0
}

.frame-around-butterfly {
    overflow: hidden;
    position: relative;
}

.additional-margin {
    margin-bottom: 15px;
}


.slide-show {
    position: relative;
    z-index: 0;
}

.slide-show div img {
    max-height: 450px;
}

.slide-show img {
    width: 100%;
    height: auto;
    z-index: -1;
}

.main-page-buy-now-btn {
    position: absolute;
    left: 20%;
    top: 45%;
    display: inline-block;
    z-index: 1;
    background-color: black;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    padding: 10px 50px;
    cursor: pointer;
    transition: background-color 2s;
    text-transform: uppercase;
}

@media screen and (max-width: 945px) {
    .main-page-buy-now-btn {
        padding: 4px 10px;
        font-size: 12px
    }
}

.main-page-buy-now-btn:hover {
    background-color: #202020;
    transition: background-color 300ms;
}

.main-page-category-container {
    padding: 1% 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill,16.6%);
    justify-content: space-between;
}

@media screen and (max-width: 2100px ) {
    .main-page-category-container{
        grid-template-columns: repeat(auto-fill,20%);
    }
}

@media screen and (max-width: 1800px ) {
    .main-page-category-container{
        grid-template-columns: repeat(auto-fill,25%);
    }
}

@media screen and (max-width: 1100px ) {
    .main-page-category-container{
        grid-template-columns: repeat(auto-fill,33%);
    }
}

@media screen and (max-width: 850px ) {
    .main-page-category-container{
        grid-template-columns: repeat(auto-fill,50%);
    }
}

@media screen and (max-width: 500px ) {
    .main-page-category-container{
        grid-template-columns: repeat(auto-fill,100%);
    }
}

.main-page-category {
    padding: 1%;
    width: 100%;
}

.main-page-category-link {
    text-decoration: none;
    display: block;
    width: 110%;

}

.category-name-img-container {
    border: 1px solid #C8C8C8;
    width: 90%;
    display: block;
}

.category-name-img-container img {
    display: block;
}

.main-page-category img {
    width: 100%;
    height: 180px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: block;

}

.category-name {
    position: relative;
    font-size: 15px;
    text-transform: capitalize;
    background-color: #C8C8C8;
    margin: 0;
    color: #ffffff;
    font-weight: bolder;
    cursor: pointer;
    width: 100%;
    padding: 0;
}

.main-page-category .category-name-img-container:hover {
    border: 1px solid #111111;
    width: 90%;
}

.main-page-category .category-name-img-container:hover .category-name {
    background-color: black;
}

.one-line-text {
    width: 100%;
    font-weight: bolder;
    font-size: 20px;
    /*border-top: 2px solid black;*/
    /*border-bottom: 2px solid black;*/
    /*background-color: #D3D3D3;*/
    text-transform: uppercase;
    color: #787878;
    letter-spacing: 1px;
    padding: 5px 0;
}

.vertical-single-product-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: flex-start;
    align-items: flex-start;
}

.navigation-bar-above-product {
    margin: 12px 4px 10px;
}

.navigation-bar-above-product .slash-span {
    margin: 0 10px;
}

.image-gallery-and-main-details-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    background-color: #ffffff;
}

.image-gallery {
    flex: 0 1 50%;
    display: flex;
    flex-direction: row;
}

.main-image {
    flex: 0 1 88%;
    padding: 0 1%;
}

.small-images {
    flex: 0 1 18%;
    padding: 0 0.5%;
    align-self: flex-start;
}

.all-small-images {
    cursor: pointer;
}

.main-details {
    flex: 0 1 50%;
    position: relative;
    z-index: 0;
    /*background-color: blue;*/
    display: flex;
    flex-direction: column;
    padding: 0 2%;
}

#zoomed-img-portal {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    /*align-content: flex-end;*/
    justify-content: flex-end;
    margin: 0;
}

.zoomed-portal-active {
    border: 1px solid #D3D3D3;
}

.main-details h1 {
    text-transform: uppercase;
    height: 100px;

}

.main-details h1:after {
    content: "";
    background-image: url("http://localhost:8080/images/logos/hands-20.svg");
    display: inline-block;
    height: 30%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.dirty-little-details {
    display: flex;
    flex-direction: column;
}

.stock-and-time {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.stock-and-time p {
    margin: 0;
}

.dirty-little-details p {
    align-self: flex-start;
    justify-content: flex-end;
}

.price-container {
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    padding: 0;
    align-self: center !important;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: flex-end;
}

.price {
    margin: 0;
}


@media screen and (max-width: 475px) {
    .price-container {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .price-container {
        font-size: 1rem;
    }

    .custom-add-to-cart {
        padding: 0.5rem;
    }
}

@media screen and (max-width: 360px) {
    .price-container {
        flex-direction: column;
    }
}

#dph {
    font-weight: 100;
    font-size: 15px;
    align-self: center;
}

.qty-and-buy-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border-top: dotted 1px #D3D3D3;*/
    /*border-bottom: dotted 1px #D3D3D3;*/
    padding: 20px 0;
}

.number-input-container {
    flex: 0 1 4.5rem;
}

.sold-out-message {
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    color: #FF0000;
    font-size: 0.9rem;
}


.truck-and-shipping {
    display: flex;
    margin: 5px 1px 0;
}

.truck-and-shipping span {
    margin-left: 8px;

}

.demo-trigger {
    display: inline-block;
    width: 30%;
    float: left;
}

.detail {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    float: right;
}

.vertical-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.shopping-cart-table {
    margin: 2rem 0;
    width: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currentlynsupported by Chrome, Opera and Firefox */
    table-layout: fixed;
}

.shopping-cart-table-header-row th {
    font-size: 1rem;
}

.shopping-cart-table tbody tr td {
    width: 100%;
}

.wrapped-product-in-frame {
    border: none;
    border-image: none;
}

.wrapped-product-not-in-frame {
    border: 0.3cm solid black;
    border-image: 50 / 0.3cm stretch;
}

.image-in-shopping-cart {
    width: 150px;
    height: 150px;
}

.shopping-cart-product-name span:hover {
    text-decoration: underline;
}

#fa-icon-1 {
    grid-area: fa-icon-1;
}

#fa-icon-2 {
    grid-area: fa-icon-2;
}

#element-between-fa-icons {
    grid-area: element-between-fa-icons;
}

.shopping-cart-fa-icons {
    margin: 0 20px;
    cursor: pointer;
    color: #505050;
}

.shopping-cart-fa-icons:hover {
    color: black;
}

.action-btn-lg {
    background-color: #303030;
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
    padding: 0 5px;
    cursor: pointer;
    transition: .1s;
}

.custom-add-to-cart {
    background-color: #303030;
    font-size: 15px;
    color: #ffffff;
    /*font-weight: bold;*/
    padding: 0.5rem 4rem;
    cursor: pointer;
    transition: .1s;
    text-transform: uppercase;
}

@media screen and (max-width: 1550px) {
    .custom-add-to-cart {
        padding: 0.5rem 2rem;
    }

    .image-in-shopping-cart {
        width: 120px;
        height: 120px;
    }
}


@media screen and (max-width: 1350px) {
    .custom-add-to-cart {
        padding: 0.5rem 1rem;
    }

    .image-in-shopping-cart {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 1250px) {
    .image-in-shopping-cart {
        width: 80px;
        height: 80px;
    }

    .shopping-cart-fa-icons {
        margin: 0 10px;
    }
}

@media screen and (max-width: 650px) {
    .image-in-shopping-cart {
        width: 50px;
        height: 50px;
    }

    .shopping-cart-fa-icons {
        margin: 0 10px;
    }

    .wrapped-product-not-in-frame {
        border: 0.1cm solid black;
        border-image: 50 / 0.1cm stretch;
    }
}

@media screen and (max-width: 550px) {
    .shopping-cart-table-header-row th {
        font-size: 0.75rem;
    }

    .shopping-cart-table-header-row-image {
        width: 60px;
    }

    .shopping-cart-fa-icons {
        margin: 0;
    }

    .shopping-cart-table-header-row-qty {
        width: 2rem;
    }

    .shopping-cart-fa-icons-container {
        display: grid;
        grid-template-areas: "fa-icon-1" "element-between-fa-icons" "fa-icon-2";
        height: 5rem;
        align-content: center;
        justify-content: center;
        grid-row-gap: 4px;
    }


}

@media screen and (max-width: 500px) {
    .shopping-cart-table-header-row-total {
        width: 3rem;
    }

    .custom-add-to-cart {
        padding: 0.5rem;
    }

    .shopping-cart-product-name {
        font-size: 0.9rem;
    }
}

.qty-input {
    padding: 10px 0;
    /*margin-left: 5px;*/
    width: 1rem;
    border: none;
    font-size: 12px;
}


input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.action-btn-sm {
    background-color: #111111;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: .1s;
    font-size: 0.9rem;
    padding: 3px;
}

.action-btn-lg:hover {
    background-color: #111111;
    transition: .1s;
}

.action-btn-lg:active {

}

.tab-options {
    display: flex;
    flex-direction: row;
}

.tab-options h3 {
    transition: all .3s ease-in-out;
    cursor: pointer;
    flex: 1 1 auto;
    align-self: auto;
}


.active-checkout-tab-option {
    /*border-bottom: 4px solid black;*/
    text-decoration: underline;
    transition: 3s;

}

.non-active-checkout-tab-option {
    /*border-bottom: 4px solid transparent;*/
}

.active-checkout-tab-content {
    display: block;
    transition: all .3s ease-in-out;
}

.non-active-checkout-tab-content {
    display: none;
    transition: all .3s ease-in-out;
}

#tab1,
#tab2 {
    padding-top: 35px;
}

.user-billing-detail-container {
    display: grid;
    grid-template-areas: "1" "2";
    grid-template-columns: 1fr;
}

.billing-selector-and-input-field-container {
    display: grid;
    grid-template-areas: "1 2";
    grid-template-columns: 27% 67%;
    grid-column-gap: 6%;

}

@media screen and (max-width: 650px) {
    .billing-selector-and-input-field-container {
        grid-template-areas: "1" "2";
        grid-template-columns: 1fr;
        justify-content: center;
    }
}


.billing-form {
    display: flex;
    flex-direction: column;
}

.billing-form p {
    margin-bottom: 0;
    color: grey;
}

.billing-half-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.billing-half-style label {
    width: 100%;
}

.billing-form label {
    /*align-self: flex-start;*/
    display: flex;
    flex-direction: column;
}

.billing-form label p {
    font-size: 16px;
    margin-top: 16px;
    font-weight: bold;
    align-self: flex-start;
}

.billing-form label input {
    font-size: 15px;
    /*width: 50%;*/
}

#billing-form-submit {
    font-size: 30px;
    width: 50%;
    background-color: #111111;
    color: #ffffff;
    font-weight: bold;
    align-self: center;
}

.billing-address {
    flex: 1 1 auto;
    border: 1px solid black;
    padding: 1px;
    margin-top: 35px;
    height: 24px;
}

.billing-address h3 {
    margin: 0;
    font-size: 1rem;
    /*border-bottom: 1px solid #606060;*/
}

.billing-address-title {
    cursor: pointer;
}

.delete-btn {
    display: inline;
    float: left;
    margin: 3px 0;
}

.different-address-checkbox {
    font-weight: bold;
    /*font-size: 20px;*/
}

.different-address-checkbox p {
    display: inline-block;
    font-size: 8px;
}

.different-address-checkbox-p {
    cursor: pointer;
}

.different-address-checkbox-input {
    cursor: pointer;
}

.different-address-checkbox {
    zoom: 2;
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -moz-transform: scale(2);
    transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
}

.address-changes-holder {
    flex: 1 1 auto;
}

.address-changes-btn {
    font-size: 1.3rem;
    border-radius: 3px;
    padding: 0 1rem;
    margin: 0 0.5rem;
    color: #242424;
    border: 1px solid black;
}

.pointer {
    cursor: pointer;
}

.address-changes-btn:focus {
    outline: none;
}

.user-register-login-container {
    display: flex;
    flex-direction: row;
}

.user-register-login-container div {
    transition: all .3s ease-in-out;
    cursor: pointer;
    flex: 1 1 auto;
    align-self: auto;
}

.description-single-p {
    margin: 30px 0px;
    font-size: 18px;
    font-weight: bold;
}

.under-main-information {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

.under-main-information p {
    align-self: flex-start;
    margin: 5px 0px;
}

.under-main-information h3 {
    align-self: flex-start;
    margin: 15px 0 45px;
    text-transform: uppercase;
}

.under-main-information span {
    font-weight: bold;
}

.under-main-information p span {
    text-transform: uppercase;
    font-weight: bolder;
}

.number-input-container {
    border: 2px solid #ddd;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Opera and Firefox */
}

.number-input-container .fa-chevron {
    position: relative;
    left: -4px;
    color: #bdbdbd;
    height: 8px;
    cursor: pointer;
}

.number-input-container .fa-chevron:hover {
    color: #3d3d3d;

}

@media screen and (max-width: 945px) {
    .main-page-category {
        flex: 1 2 33%;
        align-self: center;
    }

    .category-name {
        font-size: 15px;
    }

    .image-gallery-and-main-details-container {
        flex-direction: column;
    }

    .shopping-cart-elements-subtotal-container,
    .billing-information-and-subtotal-container {
        display: flex;
        flex-direction: column;
    }

    .subtotal-container {
        border-left: none;
        border-top: 1px solid #D3D3D3;
    }


    .main-page-featured-product {
        flex: 0 1 48%;
        align-self: center;
    }

}


.order-history-table {
    width: 98%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    table-layout: fixed;
}

.th-order-history-purchase-date {
    width: 70%;

}

.th-order-history-purchase-subtotal {
    width: 15%;
}

.th-order-history-purchase-order-id {
    width: 15%;
}

.display-detailed-order-view {
    display: inline;
}

.hide-detailed-order-view {
    display: none;
}

.detailed-product-history-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.detailed-product-history-view p {
    flex: 1 1 auto;
    align-self: auto;
}

.detailed-product-history-view img {
    flex: 0 1 15%;
    align-self: auto;
}

.framed-product-in-order-history-border {
    margin: 1rem 0;
    width: 120px;
}

.framed-product-in-order-history-img,
.non-framed-product-in-order-history-img {
    width: 100px;
    height: auto;

}

.non-framed-product-in-order-history-img {
    border: 1px solid #D3D3D3;
}

/*table, th, td {*/
/*    border: 1px solid black;*/
/*}*/


.order-overview-container {
    display: grid;
    grid-template-areas: "status-bar-container status-bar-container" "order-container address-container" "border-line border-line" "order-overview-shipping-and-payment order-overview-shipping-and-payment" "out-of-quantity-container out-of-quantity-container" "pay-container pay-container";
    grid-template-columns: 60% 40%;
}

.border-line {
    grid-area: border-line;
    border-top: 1px solid #D3D3D3;
}

.status-bar-container {
    grid-area: status-bar-container;
}

.order-container {
    display: grid;
    grid-area: order-container;
    grid-template-areas: "actual-products" "unavailable-products";
    align-content: start;
}

.actual-products {
    grid-area: actual-products;
    display: grid;
    grid-template-areas: "titles" "products" "o-o-products-total-container";
}

.titles {
    display: grid;
    grid-area: titles;
    grid-template-areas: "title-img title-name title-price title-qty title-sum";
    grid-template-columns: 180px repeat(4, 1fr);
    font-weight: bold;
}

.title-img {
    grid-area: title-img;
}

.title-name {
    grid-area: title-name;
}

.title-price {
    grid-area: title-price;
}

.title-qty {
    grid-area: title-qty;
}

.title-sum {
    grid-area: title-sum;
}

.products {
    display: grid;
    grid-area: products;
    grid-template-areas: "1";
    grid-row-gap: 1rem;
}

.products-span {
    display: grid;
    grid-template-areas: "product-img product-name product-price product-qty product-sum";
    grid-template-columns: 180px repeat(4, 1fr);
    align-content: center;
    align-self: center;
}

.product-img {
    grid-area: product-img;
    display: grid;
    justify-content: center;
}

.product-img div img {
    margin-top: 3px
}

.product-name {
    grid-area: product-name;
}

.product-price {
    grid-area: product-price;
}

.product-qty {
    grid-area: product-qty;
}

.product-sum {
    grid-area: product-sum;
}

.product-img,
.product-name,
.product-price,
.product-qty,
.product-sum {
    align-self: center;
}

.o-o-products-total-container {
    grid-area: o-o-products-total-container;
    display: grid;
    grid-template-areas: "empty-space empty-space empty-space empty-space  o-o-products-total-price";
    grid-template-columns: 180px repeat(4, 1fr);
    font-weight: bold;
    align-content: center;
    align-self: center;
    font-size: 1.3rem;

}

.empty-space {
    grid-area: empty-space;
}

.o-o-products-total-price {
    grid-area: o-o-products-total-price;
    border-top: 1px solid #d3d3d3;
    padding: 0.5rem 0;
}


.unavailable-products {
    grid-area: unavailable-products;
}

.address-container {
    grid-area: address-container;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 1px solid #D3D3D3;
    padding-left: 1rem;
}

.address-overview {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.address-overview p {
    align-self: start;
    margin: .5rem 0;
}

.billing-address-overview {
    border-top: 1px solid #D3D3D3;
}

.half-style-overview {
    display: grid;
    grid-template-areas: "1 2";
    grid-template-columns: 50% 50%;
    justify-items: start;
}

.pay-container {
    grid-area: pay-container;
    padding: 2rem 0;
    display: grid;
    grid-template-areas: "1" "2";
    justify-content: center;
    border-top: 1px solid #D3D3D3;
}


.order-overview-shipping-and-payment {
    grid-area: order-overview-shipping-and-payment;
    display: grid;
    grid-template-areas: "order-o-shipping order-o-payment";
    grid-template-columns: repeat(2, 15rem);
    justify-self: center;
}

.order-o-shipping,
.order-o-payment {
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem;
    justify-items: center;
    align-items: center;
}

.order-o-shipping-method-image img,
.order-o-payment-method-image img {
    height: 50px;
    width: 75px;
}

.order-o-shipping-method-price,
.order-o-payment-method-price {
    font-size: 1.5rem;
    font-weight: bold
}

.order-o-shipping {
    grid-area: order-o-shipping;
    display: grid;
    grid-template-areas: "order-o-shipping-method-image order-o-shipping-method-name" "order-o-shipping-method-price order-o-shipping-method-price";
}

.order-o-shipping-method-name {
    grid-area: order-o-shipping-method-name;
    font-weight: bolder;
}

.order-o-shipping-method-image {
    grid-area: order-o-shipping-method-image;
}

.order-o-shipping-method-price {
    grid-area: order-o-shipping-method-price;
}

.order-o-payment {
    grid-area: order-o-payment;
    display: grid;
    grid-template-areas: "order-o-payment-method-image order-o-payment-method-name" "order-o-payment-method-price order-o-payment-method-price";
}

.order-o-payment-method-name {
    grid-area: order-o-payment-method-name;
    font-weight: bolder;
}

.order-o-payment-method-image {
    grid-area: order-o-payment-method-image;
}

.order-o-payment-method-price {
    grid-area: order-o-payment-method-price;
}

.out-of-quantity-container {
    grid-area: out-of-quantity-container;
    padding: 2rem 0;
    border-top: 1px solid #D3D3D3;
}

.subtotal {
    font-size: 1.5rem;
    font-weight: bold;
}

.pay-btn {
    font-size: 2.5rem;
    font-weight: bolder;
    cursor: pointer;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    justify-items: center;
    padding: 0 2rem;
}

.pay-btn:hover {
    background-color: #d3d3d3;
}

.image-in-order-overview-cart {
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 1550px) {
    .image-in-order-overview-cart {
        width: 120px;
        height: 120px;
    }

    .titles,
    .products-span,
    .o-o-products-total-container {
        grid-template-columns: 150px repeat(4, 1fr);
    }
}


@media screen and (max-width: 1350px) {
    .image-in-order-overview-cart {
        width: 100px;
        height: 100px;
    }

    .titles,
    .products-span,
    .o-o-products-total-container {
        grid-template-columns: 130px repeat(4, 1fr);
    }
}

@media screen and (max-width: 1250px) {
    .image-in-order-overview-cart {
        width: 80px;
        height: 80px;
    }

    .titles,
    .products-span,
    .o-o-products-total-container {
        grid-template-columns: 110px repeat(4, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .image-in-order-overview-cart {
        width: 50px;
        height: 50px;
    }

    .titles,
    .products-span,
    .o-o-products-total-container {
        grid-template-columns: 80px repeat(4, 1fr);
    }
}

@media screen and (max-width: 475px) {
    .titles,
    .products-span {
        font-size: 0.8rem;
    }
}

.disabled {
    cursor: not-allowed;
    background-color: #eaeaea;
}

.disabled-paragraph {
    cursor: not-allowed;
    color: #afafaf;
}


/*ShippingAndPaymentMethods*/

.method-title-container {
    /*text-transform: uppercase;*/
    font-size: 1.1rem;
    font-weight: bolder;
    text-decoration: underline;
}

.shipping-and-payment-container {
    display: grid;
    grid-template-areas: "shipping-and-payment-status-bar shipping-and-payment-status-bar shipping-and-payment-status-bar" "shipping-method-container vertical-border-line payment-method-container" "total-price-container total-price-container total-price-container";
    grid-row-gap: 3rem;
    grid-template-columns: 1fr 1px 1fr;
}

.vertical-border-line {
    grid-area: vertical-border-line;
    border-right: 1px solid #D3D3D3;
}


@media screen and (max-width: 600px) {
    .shipping-and-payment-container {
        grid-template-areas: "shipping-and-payment-status-bar" "shipping-method-container" "payment-method-container " "total-price-container";
    }

}

.shipping-and-payment-status-bar {
    grid-area: shipping-and-payment-status-bar;
}

.payment-method-container {
    grid-area: payment-method-container;
    display: flex;
    justify-self: center;
    flex-direction: column;

}

.payment-method {
    display: grid;
    grid-template-areas: "payment-method-radio payment-method-image payment-method-name" "payment-method-price payment-method-price payment-method-price ";
    grid-template-columns: max-content 75px 1fr;
    grid-column-gap: 1rem;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 0.5rem;
    align-items: center;
    justify-items: center;
    margin: 0.5rem 0;
}

.payment-method-image {
    grid-area: payment-method-image;
}

.payment-method-radio {
    grid-area: payment-method-radio;
}

.payment-method-name {
    grid-area: payment-method-name;
}

.payment-method-price {
    grid-area: payment-method-price;
}

.shipping-method-container {
    grid-area: shipping-method-container;
    display: flex;
    justify-self: center;
    flex-direction: column;

}

.shipping-method {
    display: grid;
    grid-template-areas: "shipping-method-radio shipping-method-image shipping-method-name" "shipping-method-price shipping-method-price shipping-method-price";
    grid-template-columns: max-content 75px 1fr;
    grid-column-gap: 1rem;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 0.5rem;
    align-items: center;
    justify-items: center;
    margin: 0.5rem 0;

}

.shipping-method-radio {
    grid-area: shipping-method-radio;
}

.radio-input {
    cursor: pointer;
}

.shipping-method-name {
    grid-area: shipping-method-name;
}

.shipping-method-image {
    grid-area: shipping-method-image;
}

.shipping-method-price {
    grid-area: shipping-method-price;
}

.total-price-container {
    grid-area: total-price-container;
    display: grid;
    grid-template-areas: "price" "continue-btn";
    justify-items: center;
}

.payment-method-price,
.shipping-method-price {
    font-size: 1rem;
    font-weight: bolder;
}

.dropdown-selection {
    font-size: 1rem;
}

.price {
    grid-area: price;
    font-weight: bold;
    font-size: 2rem;
}

.continue-btn {
    grid-area: continue-btn;
    font-size: 1.3rem;
    padding: .2rem .7rem;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bolder;
}

.continue-btn:hover {
    background-color: #d3d3d3;
}

.payment-method-image img,
.shipping-method-image img {
    width: 75px;
    height: auto;
    max-height: 75px;
}

.custom-next-btn {
    font-size: 1rem;
    border-radius: 3px;
    padding: 0.3rem 1rem;
    color: #242424;
    border: 1px solid black;
    cursor: pointer;
    margin: 2rem 0 3rem;
    text-transform: uppercase;
}

.custom-next-btn:hover {
    background-color: #d3d3d3;
}

.custom-next-btn:focus {
    outline: none;
}

.date-from-to-container {
    display: grid;
    grid-template-areas: "1 2 3" "4 5 6" "7 8 9";
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    padding: 0.5rem;
}

.date {
    padding: 0 0.5rem;
}

.date input {
    font-size: 1rem;
}

.special-p {
    margin: 2px;
}


.we-run-out-of-stock {
    font-size: 1.2rem;
    color: red;
    font-weight: bolder;
    margin-top: 5rem;

}

.less-margin-top{
    margin-top: 0.5rem;
}

.red-text {
    color: red !important;
}

.red-border {
    border: 1px solid red !important;
}

.euro-sign {
    padding-right: 3px;
}

.td-around-image {
    display: grid;
    justify-content: center;
}
