.footer-container {
    /*margin-top: 200px;*/
    width: 100%;
    background-color: #111111;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.footer-container div div p {
    font-size: 20px;
    font-weight: bold;
}

.footer-container div div li {
    list-style: none;
    padding: 1px 0;
    font-weight: bolder;
}

.my-account-container,
.information-container,
.find-us-on-container,
.footer-logo-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-account,
.information,
.find-us-on,
.footer-logo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer-icon-facebook {
    padding-left: 15px;
}

.footer-icon-instagram {
    padding-left: 4px;
}

#special-p {
    margin-top: 0;
    margin-bottom: 2px;
}

.payment-method-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 130%;
}

.payment-method-icons *{
    flex: 0 1 20%;
}
